In [3]:
import numpy as np

In [4]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
print(arr[arr % 2 == 1])

[1 3 5 7 9]

In [5]:
class Person:
	def __init__(self, id):
	self.id = id

sam = Person (100)
sam._dict__['age'] = 49
print (sam.age + len(sam.____dict____))

IndentationError: expected an indented block (3022356536.py, line 3)

In [7]:
print(8 / 2 ** 2 / 4.0)

0.5

In [25]:
x=25
y=8
x/y

3.125

In [26]:
5 and 6

6

In [29]:
2<5 and 6 <8

True

In [32]:
x= "Hello words"
"o"in x

True

In [34]:
y= " hello words"
"t" not in y

True

In [35]:
5 | 3

7

In [42]:
y = (2*3)+3**2+4/2+1  #more power
print(y)

18.0

In [43]:
x= ['Hello', 2,6,3.5,[1,2,3],9.2]  #list
x[4]

[1, 2, 3]

In [47]:
x={"name" : " john","age":36}  #dictinary 
type(x)

dict

In [54]:
name = "shavez azmi"  #conveting name to list
name_list=list(name)
name_list

['s', 'h', 'a', 'v', 'e', 'z', ' ', 'a', 'z', 'm', 'i']

In [57]:
name_set=set(name_list)
name_set

{' ', 'a', 'e', 'h', 'i', 'm', 's', 'v', 'z'}

In [61]:
name_tuple =tuple(name_list)
name_tuple

('s', 'h', 'a', 'v', 'e', 'z', ' ', 'a', 'z', 'm', 'i')

In [64]:
name_list[4:6] # spliting list

['e', 'z']

In [72]:
for m in name_list:     #going through each elements
    print(m)

s
h
a
v
e
z

a
z
m
i

In [78]:
for i in name:          #converting alphabits to numbers
    print(i, ord(i))

s 115
h 104
a 97
v 118
e 101
z 122
  32
a 97
z 122
m 109
i 105